# Node modules
node_modules/
pnpm-lock.yaml
yarn.lock
package-lock.json

# Build output
dist/
*.log

# Environment variables
.env
.env.local
.env.*.local

# Editor and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Dependency caches
.npm/
.pnp/
.pnp.js

# TypeScript
*.tsbuildinfo

# Mac system files
*.DS_Store

# Linux system files
*.swp

# Windows system files
Thumbs.db
